In [1]:
from scipy.spatial import distance
import pandas as pd

In [2]:
maplist = {'chora valley':117, 'fools road': 53, 'operation first light':43,
        'gorodok':60, 'jensens range':40, 'kohat toi river valley':120,
        'kokan':77, 'logar valley':53,
        'sumari bala':40, 'yehorivka':127}
maps = pd.DataFrame([maplist], columns=maplist.keys())

maps.head()

,chora valley,jensens range,kohat toi river valley,yehorivka,operation first light,logar valley,sumari bala,gorodok,fools road,kokan
0,117,40,120,127,43,53,40,60,53,77

In [3]:
#Find the distance between the two vectors
a = (3,6)
b = (12,9)
dist = distance.euclidean(a,b)

print "Distance"
print dist
print "Distance in meters"
print dist * (int(maps['chora valley']) / 3)
print "-"*30
print "Milliradian"

Distance
9.48683298051
Distance in meters
369.98648624
------------------------------
Milliradian