In [58]:
import pandas as pd
import numpy as np
import math
import string
import matplotlib.pyplot as plt

%matplotlib

Using matplotlib backend: MacOSX

In [59]:
#http://wiki.rustyinplaces.org/images/thumb/2/23/Squad_map_layout.jpg/600px-Squad_map_layout.jpg
#https://squad.gamepedia.com/Mortar
#https://squad.gamepedia.com/Map_distances

In [60]:
maps = {'chora valley':117, 'fools road': 53, 'operation first light':43,
        'gorodok':60, 'jensens range':40, 'kohat toi river valley':120,
        'kokan':77, 'logar valley':53,
        'sumari bala':40, 'yehorivka':127}

In [61]:
mapDistances = pd.DataFrame([maps], columns=maps.keys())

In [62]:
mapDistances.head()

,chora valley,jensens range,kohat toi river valley,yehorivka,operation first light,logar valley,sumari bala,gorodok,fools road,kokan
0,117,40,120,127,43,53,40,60,53,77

# Sample User Inputs (mortar location and target location)

In [63]:
mortar = 'a129'
enemy = 'b259'

In [64]:
print list(mortar)
print list(enemy)

['a', '1', '2', '9']
['b', '2', '5', '9']

In [65]:
# Get Horiz
horiz = (list(mortar)[0])

# Get Vert
vert = int(list(mortar)[1])

# Get SubGrid
sub_input = int(list(mortar)[2])

# Get MiniGrid
mini_input = int(list(mortar)[3])

In [66]:
print horiz
print vert
print sub_input
print mini_input

a
1
2
9

## Building the SubGrid

In [67]:
# Build a keypad style grid that the map can be translated from

SubGrid = {
    1: {"x": [1,2,3], "y": [7,8,9]},
    2: {"x": [4,5,6], "y": [7,8,9]},
    3: {"x": [7,8,9], "y": [7,8,9]},
    4: {"x": [1,2,3], "y": [4,5,6]},
    5: {"x": [4,5,6], "y": [4,5,6]},
    6: {"x": [7,8,9], "y": [4,5,6]},
    7: {"x": [1,2,3], "y": [1,2,3]},
    8: {"x": [4,5,6], "y": [1,2,3]},
    9: {"x": [7,8,9], "y": [1,2,3]}
}

In [68]:
sg = pd.DataFrame(SubGrid)
sg = sg.transpose()
sg.head(10)

           x          y
1  [1, 2, 3]  [7, 8, 9]
2  [4, 5, 6]  [7, 8, 9]
3  [7, 8, 9]  [7, 8, 9]
4  [1, 2, 3]  [4, 5, 6]
5  [4, 5, 6]  [4, 5, 6]
6  [7, 8, 9]  [4, 5, 6]
7  [1, 2, 3]  [1, 2, 3]
8  [4, 5, 6]  [1, 2, 3]
9  [7, 8, 9]  [1, 2, 3]

### Computing a MiniGrid from the given SubGrid

In [69]:
build_x = sg['x'][sub_input]
build_y = sg['y'][sub_input]

print build_x
print build_y
print "-"*20
print build_x[2]
print build_y[2]

[4, 5, 6]
[7, 8, 9]
--------------------
6
9

In [70]:
MiniGrid = {
    1: {"x": build_x[0], "y": build_y[2]},
    2: {"x": build_x[1], "y": build_y[2]},
    3: {"x": build_x[2], "y": build_y[2]},
    4: {"x": build_x[0], "y": build_y[1]},
    5: {"x": build_x[1], "y": build_y[1]},
    6: {"x": build_x[2], "y": build_y[1]},
    7: {"x": build_x[0], "y": build_y[0]},
    8: {"x": build_x[1], "y": build_y[0]},
    9: {"x": build_x[2], "y": build_y[0]}
}

In [71]:
# Now we have a given set of cordinate points for the keypad sector
mg = pd.DataFrame(MiniGrid)
mg = mg.transpose()
mg.head(10)

   x  y
1  4  9
2  5  9
3  6  9
4  4  8
5  5  8
6  6  8
7  4  7
8  5  7
9  6  7

## Multiply the cordinate points by the sector callout (A1, B3 etc)

In [72]:
letters = list(string.ascii_lowercase)
numbers = list(range(len(letters)+1))

In [73]:
print letters
print numbers

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

In [74]:
sectors = dict(zip(letters, numbers))

In [75]:
print sectors['a']

0

In [76]:
scalex =  sectors[horiz] * 9
scaley =  (vert - 1) * 9

print "Mortar Cordinates: " + mortar
print "-"*20

# Exact cordinates of the mortar
print mg['x'][mini_input] + scalex
print mg['y'][mini_input] + scaley

Mortar Cordinates: a129
--------------------
6
7